@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@import './animations.css';
@import './react-datepicker.css';

/*
  ---break---
*/

@plugin 'tailwindcss-animate';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-sans: var(--font-pp-mori), Helvetica, Arial, sans-serif;

  --text-*: initial;

  --tracking-ppmori: -0.01em;

  --text-ppmori-xs: 10px;
  --text-ppmori-xs--line-height: 14px;
  --text-ppmori-xs--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-sm: 12px;
  --text-ppmori-sm--line-height: 14px;
  --text-ppmori-sm--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-md: 14px;
  --text-ppmori-md--line-height: 14px;
  --text-ppmori-md--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-lg: 22px;
  --text-ppmori-lg--line-height: 22px;
  --text-ppmori-lg--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-xl: 28px;
  --text-ppmori-xl--line-height: 28px;
  --text-ppmori-xl--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-xl-mobile: 24px;
  --text-ppmori-xl-mobile--line-height: 24px;
  --text-ppmori-xl-mobile--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-2xl: 38px;
  --text-ppmori-2xl--line-height: 34px;
  --text-ppmori-2xl--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-2xl-mobile: 32px;
  --text-ppmori-2xl-mobile--line-height: 28px;
  --text-ppmori-2xl-mobile--letter-spacing: var(--tracking-ppmori);

  --text-ppmori-3xl: 86px;
  --text-ppmori-3xl--line-height: 74px;
  --text-ppmori-3xl--letter-spacing: -0.02em;

  --text-ppmori-3xl-mobile: 60px;
  --text-ppmori-3xl-mobile--line-height: 55px;
  --text-ppmori-3xl-mobile--letter-spacing: var(
    --text-ppmori-3xl--letter-spacing
  );

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xl: 18px;

  --gap-mini: 2px;

  --height-footer: 108px;
  --height-footer-mobile: 108px;

  --height-header: 62px;
  --height-header-mobile: 62pxpx;

  --height-filter-footer: 102px;

  --height-screen: 100dvh;
  --height-screen-header: calc(100dvh - var(--height-header));
  --height-screen-header-footer: calc(
    100dvh - var(--height-header) - var(--height-footer)
  );
  --height-screen-filter-footer: calc(100dvh - var(--height-filter-footer));
  --height-screen-header-footer-mobile: calc(
    100dvh - var(--height-header-mobile) - var(--height-footer-mobile)
  );
  --height-screen-header-mobile: calc(100dvh - var(--height-header-mobile));

  --spacing-header: var(--height-header);
  --spacing-header-mobile: var(--height-header-mobile);
  --spacing-filter-footer: var(--height-filter-footer);
  --spacing-screen-filter-footer: calc(100dvh - var(--height-filter-footer));

  --min-height-screen: 100dvh;
  --min-height-screen-footer: calc(100dvh - var(--height-footer));
  --min-height-screen-header-footer: calc(
    100dvh - var(--height-header) - var(--height-footer)
  );
  --min-height-screen-header: calc(100dvh - var(--height-header));
  --min-height-screen-filter-footer: calc(100dvh - var(--height-filter-footer));
  --min-height-screen-header-mobile: calc(100dvh - var(--height-header-mobile));

  --max-height-screen: 100dvh;
  --max-height-screen-header-footer: calc(
    100dvh - var(--height-header) - var(--height-footer)
  );
  --max-height-screen-header: calc(100dvh - var(--height-header));
  --max-height-screen-header-mobile: calc(100dvh - var(--height-header));

  --color-white: #ffffff;
  --color-black: #111111;

  --color-dark-purple: #2b1b38;
  --color-purple: #af89c6;
  --color-beige: #ebe6df;
  --color-mid-beige: #cec8c6;
  --color-mid-beige-hover: #bfb8b6;

  --color-grey-400: #9c9c9c;

  --color-sanity-ui-success: #00a86b;
  --color-sanity-ui-error: #d73a49;
  --color-sanity-ui-warning: #ffaa15;
  --color-sanity-ui-info: #556bfc;

  --color-mono-100: #e8e8e8;
  --color-mono-200: #d0d0d0;
  --color-mono-300: #c7c7c7;
  --color-mono-400: #a7a7a7;
  --color-mono-500: #989898;
  --color-mono-600: #8a8a8a;
  --color-mono-700: #686868;
  --color-mono-800: #4f4f4f;
  --color-mono-900: #383838;

  --drop-shadow-xl: 0 0 20px rgba(0, 0, 0, 0.15);

  --width-1\/12: 8.333333%;
  --width-2\/12: 16.666667%;
  --width-3\/12: 25%;
  --width-4\/12: 33.333333%;
  --width-5\/12: 41.666667%;
  --width-6\/12: 50%;
  --width-7\/12: 58.333333%;
  --width-8\/12: 66.666667%;
  --width-9\/12: 75%;
  --width-10\/12: 83.333333%;
  --width-11\/12: 91.666667%;

  --animate-fade-in: fade-in 0.4s ease-in-out;
  --animate-fade-out: fade-out 0.4s ease-in-out 0.3s;

  --ease-cubic: cubic-bezier(0.33, 1, 0.68, 1);
}

.container {
  margin-inline: auto;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 100%;

  @media (min-width: --theme(--breakpoint-md)) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: --theme(--breakpoint-lg)) {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scrollbar-width: none !important;
  -ms-overflow-style: none;
}

html body::-webkit-scrollbar {
  display: none;
}

body {
  font-smooth: always;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.svg {
  & svg {
    height: 100%;
    width: 100%;
  }
}

.disable-safari-ios-callout {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

.text {
  & strong {
    font-weight: 600;
  }

  & p {
    padding-bottom: 1.125rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  & blockquote {
    padding-top: 1.125rem;
    padding-bottom: 2.5rem;
  }

  & ul,
  & ol {
    margin-bottom: 1.125rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & table {
    margin: 4rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cross {
  position: relative;
  min-width: 15px;
  min-height: 15px;

  & .cross-line {
    position: absolute;
    height: 1px;
    width: 15px;
    transition: all 0.3s;
    background-color: currentColor;

    &.cross-first-line {
      transform: rotate(45deg);
      top: 8px;
    }

    &.cross-second-line {
      top: 8px;
      transform: rotate(-45deg);
    }
  }
}

.plus-icon {
  position: relative;
  min-width: 15px;
  min-height: 15px;

  & .plus-line {
    position: absolute;
    height: 1px;
    width: 15px;
    transition: transform 0.5s;

    &.plus-vertical-line {
      top: 7px;
      transform: rotate(90deg) translateY(-50%);
    }

    &.plus-horizontal-line {
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.active {
  & .plus-icon {
    & .plus-line {
      &.plus-vertical-line {
        top: 7px;
        transform: rotate(0) translateY(-50%);
      }
    }
  }
}

section.bg-white + section.bg-white {
  padding-top: 0;
}

.bg-checkerboard {
  height: 100%;
  width: 100%;
  background: conic-gradient(
    #ededed 90deg,
    #fff 90deg 180deg,
    #ededed 180deg 270deg,
    #fff 270deg
  );
  background-repeat: repeat;
  background-size: 15px 15px;
  background-position: top left;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1200ms infinite;
  animation: ellipsis steps(4, end) 1200ms infinite;
  content: '\2026';
  width: 0px;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.animation-fill-mode-forwards {
  animation-fill-mode: forwards;
}

.border-link {
  position: relative;
  text-decoration: none;
}

.border-link:after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: 100% 0;
}

.border-link-active:after,
.border-link:hover:after,
.group:hover .border-link:after {
  transform: scaleX(1);
  transform-origin: 0 0;
}

.black-overlay-hover {
  position: relative;
  overflow: hidden;
}

.black-overlay-hover::after {
  content: '';
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover > .black-overlay-hover::after,
.black-overlay-hover:hover::after {
  opacity: 1;
}
